* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container h1 {
    color: #ffc107;
    font-family: 'Russo One', sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;
}

body {
    background-color: black;
}

.carousel-inner img {
    width: 930px;
    height: 700px;
    margin-bottom: 24px;
}

.col-4 {
    text-align: justify;
    margin-bottom: 24px;
    /*box-shadow: 10px 10px 10px rgba(85, 85, 85, 0.2);*/
    /*position: relative;*/
}

/*.col-4::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border: 20px solid transparent;
    border-top: 20px solid #ffc107;
    border-right: 20px solid #ffc107;
}*/

.col-4 h2 {
    color: #ffc107;
    font-family: 'Russo One', sans-serif;
}

.col-4 a {
    margin-top: 10px;
}

.card {
    width: 100%;
}

@media screen and (min-width: 641px) and (max-width: 1023px) {
    .row {
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }

    .row .col-4 {
        width: 100%;
    }

    .carousel-inner img {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 640px) {
    .row {
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }

    .row .col-4 {
        width: 100%;
    }

    .carousel-inner img {
        width: 100%;
        height: auto;
    }
}